:root {
    font-size: 10px;
    --main-color: #d3ad7f;
    --black: #131313;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", serif;
}

.box-video {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.box-video video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: black;
    border-bottom: 0.1rem solid rgba(255,255,255,0.3);
    width: 100vw;
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 1.5rem 0;
    width: 100vw;
}

.header section a img {
    height: 6rem;
}

.header section nav a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: floralwhite;
    transition: 0.5s linear;
}

.header section nav a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.box-principal {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.box-principal div {
    max-width: 60rem;
}

.box-principal div h3 {
    color: #FFF;
    font-size: 6rem;
    text-transform: uppercase;
}

.box-principal div p {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1rem 0;
    line-height: 1.8;
}

.link-button {
    background-color: var(--main-color);
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #010103;
    padding: 1rem 3rem;
    border: none;
    transition: 0.1s linear;
}

.box-principal div a:hover {
    letter-spacing: 0.1rem;
}

.title {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.title span {
    color: var(--main-color);   
}

.box-about .about-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.box-about .about-img {
    flex: 1 1 45%;
    max-width: 45%;
}

.box-about .about-img img {
    width: 100%;
    display: block;
    padding: 2rem;
}

.box-about .about-text {
    flex: 1 1 45%;
    max-width: 45%;
    padding: 2rem;
}

.box-about .about-text h3 {
    font-size: 3rem;
    color: #FFF;
}

.box-about .about-text p {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #FFF;
    line-height: 1.8;
    padding: 1rem 0;
}
.modal{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 20px;
    z-index: 4;
    position:fixed;
    top:50%;
    left: -90%;
    transform: translate(-50%, -50%);
    transition: left 0.5s ease-in-out;
}


.mask{  
        visibility: hidden;
        transition: visibility 1s linear;
        z-index: 3;
        position: fixed;
        inset: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);

}